@section style{
    <link href="~/css/admin/Users.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/admin/Table.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/admin/Book.css" rel="stylesheet" asp-append-version="true" />

    <style>
        #books {
            color: rgb(25, 195, 125);
            font-weight: bold;
        }
    </style>
}

<partial name="PartialViews/AdminLayout.cshtml" />
<div class="admin-main">
    <form asp-action="BookSubmit" asp-controller="Admin" id="BookForm" method="post">
        <div class="add-user">
            <div class="heading">
                <h1>Add Book</h1>
            </div>
            <div id="first-last" class="first-last">
                <div>Name</div>
                <div>
                    <div>
                        <input placeholder="Book Name" name="Name" />
                    </div>
                    <div class="role-btn" id="role-btn">
                        <div>
                            <select id="Type" name="Type">
                                <option value="">Select Book Type</option>
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                                <option value="Author">Author</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dimension" class="first-last">
                <div>Dimension (in inches)</div>
                <div>
                    <div>
                        <input placeholder="Width" name="Width" />
                    </div>
                    <div>
                        <input placeholder="Height" name="Height" />
                    </div>
                </div>
            </div>
            <div class="email-pass">
                <div class="select-divs" id="select-divs">
                    <div>
                        <select id="Language" name="Language">
                            <option value="">Select Language</option>
                        </select>
                    </div>
                    <div>
                        <select id="Country" name="Country">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label id="Description"></label>
                    <textarea placeholder="Enter The Description For Book" name="Description"></textarea>
                </div>
                <div>
                    <label id="Price">Price (In Rupees)</label>
                    <input type="number" placeholder="Enter Price" name="Price" />
                </div>
                <div>
                    <label id="ISBN">ISBN</label>
                    <input type="text" placeholder="Enter ISBN number of book" name="ISBN" />
                </div>
                <div>
                    <label id="Pages">Pages</label>
                    <input type="number" name="Pages" />
                </div>
                <div>
                    <label>Image</label>
                    <input name="Image" type="file" id="Image" />
                </div>
                <div>
                    <label>Authors</label>
                    <input id="SearchTags" placeholder="Enter atleast three letters for searching" autocomplete="off" />
                    <div id="result"></div>
                    <div class="Authors" id="Authors"></div>
                </div>
                <input type="hidden" name="AuthorData" id="authorData"/>
                <div class="role-btn">
                    <div style="width:100%">
                        <button type="button" id="BookFormBtn">Add Book</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="table">
        @if (ViewData["Books"] != null && (ViewData["Books"] as List<Book>).Count != 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Book u in (List<Book>)ViewData["Books"])
                    {
                        <tr>
                            <td>@u.Id</td>
                            <td>@u.Name</td>
                            <td>@u.Type</td>
                            <td>@u.Description</td>
                            <td>Dimensioin/td>
                            <td>@u.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>No Data Available Rigtht Now.</h1>
            <h1> You Can Add By Filling The Form</h1>

        }
    </div>
</div>
@section Script{
    <script src="~/js/Book.js"></script>
}